nav.navbar-default{
	margin-bottom: 0px;
}

a:hover, a:active, a:focus{
	text-decoration: none;
	color: whitesmoke;
}
.cd-btn:hover{
	background-color: #1A263C;
}
.cd-btn.main-action:hover{
	background-color: #E35550;
}